# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
server/config/*
!config/default.*
npm-debug.log
node_modules
server/logs/*
# build folder
server/build
#coverage
# the mac problem
.DS_Store
.DS_Store?

# upload 
server/upload