.article_title{
  margin-left: 5px;
  font-size: 24px;
  margin-top: 0;
}
.article_foot a{
  color:#999;
  text-decoration: none;
  font-size: 14px;
  margin-right: 3px;
}
.article_foot a:hover{
    text-decoration: none;
}
.article_foot a:visited{
  color:#999;
}
.article_container{
  margin: auto;
  width: 800px;
  margin-bottom: 50px;
  text-align: center;

}
.article_context{
  padding: 5px;
}
.author_logo{
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: rgb(109, 129, 210);
    vertical-align: top;
}
.article_wrap{
  text-align: left;
  padding: 5px;
  margin-left: 30px;
  display: inline-block;
  vertical-align: top;
  width: 500px;
  border:1px solid #c6c6c6;
  box-shadow: 10px 10px 5px #888888;
}
.foot_left{
  display: inline-block;
}
.foot_right{
  display: inline-block;
  float: right;
}
.foot_dropDown{
  padding: 0;
  display: none;
}
.dropdown-menu{
  width: 50px;
}
