.header{

}
.content_center{
  text-align: center;
}
.header_title{
  font-size: 40px;
  display: inline-block;
}
.header_setting{

}
.loginInputForm{
  width: 500px;
  margin: auto;
  /*transform: translateY(50%);*/
}
.form-group{
  margin-bottom: 30px;
}
.flash_message{
  margin: auto;
  padding: 6px 10px;
  border:1px solid rgb(210, 204, 207);
  border-radius: 5px;
  width: 400px;
  margin-bottom: 30px;
}
.nav_action{
  padding-right: 30px;
}
.container{
  width: 800px;
  margin: 0 auto;
}
.clearfix:after{
  display:block;
  content:"clear";
  height:0;
  clear:both;
  overflow:hidden;
   visibility:hidden;}
.no-match-container{
  text-align: center;
  margin: 0 auto;
}
.App-logo{
  width: 300px;
  height: 300px;
}
.App{
  text-align: center;
}
