.menu {
  display: flex;
  justify-content:space-around;
 margin-bottom: 50px;
}
.top{
  position: relative;
  height: 500px;
  background-color: #00bcd4;
  color : #fff;
  width: 100%;
  margin-bottom: 100px;
}
.menu_item img {
  height: 300px;
  width: 300px;
}
.menu_item {

}
.menu_item:hover{
   box-shadow: 10px 20px 5px -5px rgba(186,180,186,1);
}
.menu_title {
    display: block;
    text-align:center;
    font-size: 20px;
    height: 50px;
    line-height: 30px;
    padding: 10px 0 ;
    background-color: rgb(234, 238, 244);
}
.menu-container{
  display: flex;
  flex-direction: column;
  min-width: 980px;

}
#menu-top-canvas {
  height: 500px;
  position: absolute;
z-index: 2;
}
.top_context{
  position: absolute;
  transform: translate(-50%,-50%);
  top:50%;
  left:50%;

}
.top_desc{
  font-size: 18px;
  text-align: center;
}
.gitLogo {
  width: 50px;
  height: 50px;
}
.footer{
  color:#fff;
  text-align: center;
  background-color: rgb(41, 154, 236);
  height:120px;
  padding: 10px 0;
}
.webNum{
  display: block;
  font-size: 16px;
}
