<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>首页</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <meta name="viewport" content="width=device-width,initial-scale=1">
</head>

<body>
    <div id="root"></div>
<script type="text/javascript" src="/dist/js/lib.js?ac0f9e06d949b888aa6f"></script><script type="text/javascript" src="/dist/js/home/index.js?ac0f9e06d949b888aa6f"></script></body>

</html>
